// variables primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
$dark-blue-photography-text: hsl(198, 62%, 26%);
$dark-moderate-cyan-footer: hsl(168, 26%, 61%);
$dark-moderate-cyan-footer2: hsl(168, 34%, 41%);
// variables neutral
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// extend
%bars {
	display: block;
	width: 25px;
	height: 2px;
	background-color: white;
	transition: all 0.3s ease-in-out;
}

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Fraunces', serif;
	font-size: 62.5%;
	min-height: 100vh;
	min-width: 375px;
	text-align: center;
	background-color: $white;
}

nav {
	display: flex;
	justify-content: space-between;
	height: 85px;
	padding: 3em 2em;
	background-image: url('../images/mobile/image-header.jpg');
}

.nav-logo {
	margin-left: 0.7em;
}

.nav-desktop {
	display: none;
}

.nav-mobile {
	&__btn {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: none;
		background: none;
		opacity: 0.5;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&--bar,
		&--bar::before,
		&--bar::after {
			@extend %bars;
		}

		&--bar::before,
		&--bar::after {
			content: '';
			position: absolute;
		}

		&--bar::before {
			top: 10px;
		}

		&--bar::after {
			bottom: 10px;
		}
	}

	&--links {
		position: absolute;
		top: 107px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 305px;
		min-width: auto;
		margin: 0 2.5em;
		background-color: $white;
		opacity: 0;
		transition: opacity 0.5s;

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 2;

			a {
				font-family: 'Barlow', sans-serif;
				font-size: 1.2rem;
				margin: 0.5em;
				margin-bottom: 1.3em;
				color: $dark-grayish-blue;
			}

			a:last-child {
				font-family: 'Fraunces', serif;
				text-transform: uppercase;
				font-size: 1rem;
				min-width: 140px;
				padding: 1em;
				border-radius: 2em;
				color: black;
				background-color: $yellow;
			}
		}
	}

	&--links::before {
		content: '';
		position: absolute;
		top: -25px;
		right: 0;
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-right: 25px solid $white;
	}
}

.menu .nav-mobile {
	&__btn {
		&--bar {
			transform: rotate(45deg);
		}

		&--bar::before {
			opacity: 0;
		}

		&--bar::after {
			transform: rotate(-90deg) translate(-10px);
		}
	}
}

.active.nav-mobile {
	&--links {
		opacity: 1;
	}
}

.hero-image {
	height: 450px;
	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position: center;

	&__heading {
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.2em;
		font-size: 2.5rem;
		padding-top: 1em;
		color: $white;
	}

	&__arrow {
		position: relative;
		top: 50px;
		animation-name: move-arrow;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}
}

.container {
	display: flex;
	flex-direction: column;

	&__text-area1,
	&__text-area2 {
		order: 2;
		padding: 3em;

		&--heading {
			font-weight: 900;
			font-size: 2rem;
			margin: 1em 0 0.6em;
			color: $very-dark-desaturated-blue;
			filter: blur(0.5px);
		}

		&--text {
			font-family: 'Barlow', sans-serif;
			font-size: 1.1rem;
			line-height: 1.5em;
			color: $dark-grayish-blue;
			filter: blur(0.5px);
		}

		&--link1,
		&--link2 {
			display: inline-block;
			position: relative;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 1rem;
			width: 130px;
			margin: 2em 0;
			color: $very-dark-desaturated-blue;
			filter: blur(0.5px);
			z-index: 1;
		}

		&--link1::after,
		&--link2::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 0.7em;
			top: 11px;
			left: 0;
			border-radius: 1em;
			background-color: $yellow;
			opacity: 0.3;
			z-index: -1;
			transition: opacity 0.5s;
		}

		&--link2::after {
			background-color: $soft-red;
		}

		&--link1:hover::after,
		&--link2:hover::after {
			opacity: 1;
		}
	}

	&__bg1,
	&__bg2 {
		order: 1;
		width: auto;
		height: 310px;
		background-image: url('../images/mobile/image-transform.jpg');
		background-size: cover;
		background-position: center;
	}

	&__bg2 {
		background-image: url('../images/mobile/image-stand-out.jpg');
	}
}

.container2 {
	&__text-area1,
	&__text-area2 {
		position: relative;
		width: 100%;
		height: 595px;
		padding: 0 2em;
		background-image: url('../images/mobile/image-graphic-design.jpg');
		background-size: cover;
		background-position: center;

		&--heading1,
		&--heading2 {
			position: relative;
			font-size: 2rem;
			font-weight: 900;
			top: 390px;
			width: 100%;
			color: $dark-desaturated-cyan-graphic-design-text;
			filter: blur(0.5px);
		}

		&--text1,
		&--text2 {
			position: relative;
			font-family: 'Barlow', sans-serif;
			font-size: 1rem;
			line-height: 1.5em;
			top: 425px;
			width: 100%;
			color: $dark-desaturated-cyan-graphic-design-text;
			filter: blur(0.5px);
		}
	}

	&__text-area2 {
		background-image: url('../images/mobile/image-photography.jpg');

		&--heading2 {
			color: $dark-blue-photography-text;
		}

		&--text2 {
			color: $dark-blue-photography-text;
		}
	}
}

.client-testimonials {
	margin: 6em 2.8em;

	&__heading {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 1rem;
		letter-spacing: 0.3em;
		margin-bottom: 4em;
		color: $dark-grayish-blue;
		opacity: 0.7;
	}

	.testimonial {
		&__card {
			&--image {
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}

			&--opinion {
				font-family: 'Barlow', sans-serif;
				font-size: 1.1rem;
				line-height: 1.7em;
				margin: 1.5em 0;
				color: $very-dark-grayish-blue;
			}

			&--author {
				font-size: 1.4rem;
				font-weight: 900;
				margin-bottom: 0.5em;
				color: $very-dark-desaturated-blue;
			}

			&--function {
				font-family: 'Barlow', sans-serif;
				font-size: 0.9rem;
				margin-bottom: 4.5em;
				color: $dark-grayish-blue;
				opacity: 0.7;
			}
		}
	}
}

.bottom-images {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, 185px);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	&__img1 {
		grid-area: 1 / 1 / 2 / 2;
		background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
		background-size: cover;
		background-position: center;
	}

	&__img2 {
		grid-area: 1 / 2 / 2 / 3;
		background-image: url('../images/mobile/image-gallery-orange.jpg');
		background-size: cover;
		background-position: center;
	}

	&__img3 {
		grid-area: 2 / 1 / 3 / 2;
		background-image: url('../images/mobile/image-gallery-cone.jpg');
		background-size: cover;
		background-position: center;
	}

	&__img4 {
		grid-area: 2 / 2 / 3 / 3;
		background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
		background-size: cover;
		background-position: center;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $dark-moderate-cyan-footer;

	&--logo {
		width: 170px;
		margin: 5em 0 3em;
		filter: invert(41%) sepia(30%) saturate(674%) hue-rotate(116deg) brightness(58%) contrast(95%);
	}

	&--link {
		margin-bottom: 6em;

		a {
			font-family: 'Barlow', sans-serif;
			font-size: 1.1rem;
			margin: 1.5em;
			color: $dark-moderate-cyan-footer2;
			transition: color 0.5s;
		}
	}

	&--link {
		a:hover {
			color: $white;
		}
	}

	&--media {
		display: flex;
		gap: 3em;
		margin-bottom: 1em;

		a {
			transition: filter 0.5s;
		}
	}

	&--media {
		a:hover {
			filter: brightness(0) invert(1);
		}
	}
}

@media (min-width: 576px) {
	.bottom-images {
		grid-template-rows: repeat(2, 260px);
	}
}

@media (min-width: 768px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 125px;
		padding: 3em 2em;
		background-image: url('../images/mobile/image-header.jpg');
	}

	.nav-logo {
		margin-left: 0.7em;
		height: 33px;
	}

	.nav-desktop {
		display: block;

		li {
			display: flex;
			align-items: center;
			gap: 2em;

			a {
				font-family: 'Barlow', sans-serif;
				font-size: 1.2rem;
				margin: 0.5em;
				margin-bottom: 1.3em;
				color: $white;
				transition: color 0.5s;
			}

			a:last-child {
				font-family: 'Fraunces', serif;
				text-transform: uppercase;
				font-size: 1rem;
				min-width: 140px;
				padding: 1em;
				border-radius: 2em;
				color: black;
				background-color: $white;
				transition: background-color 0.5s, color 0.5s;
			}

			a:not(:last-child):hover {
				color: $dark-desaturated-cyan-graphic-design-text;
			}

			a:last-child:hover {
				background-color: rgba(255, 255, 255, 0.3);
				color: $white;
			}
		}
	}

	.nav-mobile {
		display: none;
	}

	.hero-image {
		height: 675px;
		background-image: url('../images/desktop/image-header.jpg');

		&__heading {
			font-size: 3.5rem;
		}

		&__arrow {
			top: 150px;
		}
	}

	.container {
		flex-direction: row;

		&__text-area1,
		&__text-area2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			order: 2;
			width: 50%;
			height: 600px;
			padding: 3em 8em;

			&--heading {
				font-size: 2.2rem;
				margin: 1em 0 1em;
				text-align: left;
			}

			&--text {
				text-align: left;
			}

			&--link1,
			&--link2 {
				margin: 3em 0;
			}
		}

		&__text-area2 {
			padding: 3em 8em;
		}

		&__bg1,
		&__bg2 {
			order: 2;
			width: 50%;
			height: 600px;
			background-image: url('../images/desktop/image-transform.jpg');
		}

		&__bg2 {
			background-image: url('../images/desktop/image-stand-out.jpg');
		}

		&__bg2 {
			order: 1;
		}
	}

	.container2 {
		display: flex;
		flex-direction: row;

		&__text-area1,
		&__text-area2 {
			position: relative;
			width: 100%;
			height: 595px;
			padding: 0 2em;
			background-image: url('../images/desktop/image-graphic-design.jpg');

			&--text1,
			&--text2 {
				padding: 0 3.5em;
			}
		}

		&__text-area2 {
			background-image: url('../images/desktop/image-photography.jpg');
		}
	}

	.client-testimonials {
		margin: 15em 2.8em;

		&__heading {
			font-size: 1.5rem;
			margin-bottom: 3em;
		}

		.testimonial {
			display: flex;
			flex-wrap: row wrap;
			gap: 4em;
			margin: 0 13em;
		}
	}

	.bottom-images {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: 448px;

		&__img1 {
			grid-area: 1 / 1 / 2 / 2;
			background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
		}

		&__img2 {
			grid-area: 1 / 2 / 2 / 3;
			background-image: url('../images/desktop/image-gallery-orange.jpg');
		}

		&__img3 {
			grid-area: 1 / 3 / 2 / 4;
			background-image: url('../images/desktop/image-gallery-cone.jpg');
		}

		&__img4 {
			grid-area: 1 / 4 / 2 / 5;
			background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
		}
	}
}

@media (min-width: 992px) {
	.container {
		&__text-area1,
		&__text-area2 {
			padding: 3em 11em 3em 16.5em;

			&--heading {
				font-size: 2.5rem;
			}
		}

		&__text-area2 {
			padding: 3em 11em 3em 11.5em;
		}
	}

	.container2 {
		&__text-area1,
		&__text-area2 {
			&--text1,
			&--text2 {
				padding: 0 6.5em;
			}
		}
	}
}

@keyframes move-arrow {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(50px);
	}
	50% {
		transform: translateY(30px);
	}
	75% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0px);
	}
}
