// variables primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
$dark-blue-photography-text: hsl(198, 62%, 26%);
$dark-moderate-cyan-footer: hsl(168, 34%, 41%);
// variables neutral
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// extend
%bars {
	display: block;
	width: 25px;
	height: 2px;
	background-color: white;
	transition: all 0.3s ease-in-out;
}

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Barlow', sans-serif;
	font-family: 'Fraunces', serif;
	font-size: 62.5%;
	min-height: 100vh;
	min-width: 375px;
	text-align: center;
	background-color: gray;
}

nav {
	display: flex;
	justify-content: space-between;
	height: 85px;
	padding: 3em;
	background-image: url('../images/mobile/image-header.jpg');
}

.nav-desktop {
	display: none;
}

.nav-mobile {
	&__btn {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: none;
		// border: 2px solid white;
		background: none;

		transition: all 0.3s ease-in-out;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&--bar,
		&--bar::before,
		&--bar::after {
			@extend %bars;
		}

		&--bar::before,
		&--bar::after {
			content: '';
			position: absolute;
		}

		&--bar::before {
			top: 10px;
		}

		&--bar::after {
			bottom: 10px;
		}
	}

	&--links {
		display: none;
	}
}

.menu .nav-mobile {
	&__btn {
		&--bar {
			// transform: translate3d(0, 0, 0) scale(0, 1);
		}

		&--bar::before {
			transform: rotate(45deg) translate(6px, 6px);
		}

		&--bar::after {
			transform: rotate(-45deg) translate(6px, -6px);
		}
	}
}

.hero-image {
	height: 450px;
	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position: 0px -85px;

	&__heading {
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.2em;
		font-size: 2.5rem;
		padding-top: 1em;
		color: $white;
	}

	&__arrow {
		padding-top: 6.5em;
	}
}

.container {
	display: flex;
	flex-direction: column;

	&__text {
		order: 2;
	}

	&__bg {
		order: 1;
		width: auto;
		height: 310px;
		background-image: url('../images/mobile/image-transform.jpg');
		background-size: cover;
	}
}

@media (min-width: 768px) {
}
